/* Write some CSS below */

body {
    background-color: ivory;
    text-align: center;
    text-decoration: none;
    font-size: 32 px;
    color: ghostwhite;
    margin: 0;
    padding: 0;
}

h1 {
    font-family:"roboto";
    color: sienna;
}

h2 {
    font-family: "roboto";
    font-size: 16px;
}

h3 {
    font-family: "roboto";
    font-size: 16px;
}

h4 {
    font-family: "roboto";
    font-size: 16px;
    text-align: center;
    color: sienna;
}

.banner {
    background-image: url(images/landscape.png);
    background-position: center;
    background-size: cover;
    margin: auto;
    padding: 150px 0;
    box-shadow: inset 0 0 0 1000px rgba(140, 79, 4, 0.2);
}

.banner-content {
    background-color: ivory;
    height: 100%;
    width: 700px;
    padding: 100px 0;
    text-align: justify;
    padding: 50px 50px;
}


.banner p {
    color: sienna;
    margin-bottom: 50px;
    font-weight: bold;
}

.btn-brown {
    background-color: sienna;
    padding: 10px 15px;
    color: ivory;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}



.section-white {
    background-color: ivory;
    color: white;
    margin: 40px;
}

.btn-transparent {
    padding: 10px 15px;
    color: ivory;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

.container {
    margin: 10px auto;
    width: 1300px;
}


.card-pink {
    background-color: sienna;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 25px;
    text-align: center;
}


.card-pink img {
    border-radius: 2px;
    width: 100%;
    height: 220px;
    object-fit: cover;
}


.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
}

.image-section {
    display: flex;
    justify-content: space-around;
    margin: 40px auto;
    width: 1300px;
  }
  
  .image-container {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
  }
  
  .image-container img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .overlay h2 {
    color: white;
    font-size: 1.5rem;
  }
  
  .image-container:hover .overlay {
    opacity: 1;
  }

.section-logo {
    border: 5px solid sienna;
    margin: 40px auto;
    width: 1300px;
    padding-bottom: 25px;
}

.img-circle {
    border-radius: 50%;
    height : 70px;
    width: 70px;
    object-fit: cover;
}
 .logo h4 {
    font-size: 30px;
 }
 
.logo p {
    color: sienna;
    margin: 40px;
}

.list-logo {
    display: inline;
    padding-left: 0;
}

.list-logo li {
    display: inline;
}

.img-square {
    height: 166px;
    width: 100%;
    object-fit: cover;
}


.carousel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1px;
    height: 500px;
    margin: 1px 0;
}


#map {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 110px;
}

.footer {
    background-color : sienna;
    color: ivory;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
    margin: 0;
}
 
.footer li {
    display: inline;
}
 
.footer li i {
    font-size: 40px;
    color: ivory;
    text-align: center;
    margin: right;
    padding: auto;
}
 
.footer li i:hover {
    color: ivory;
}
 
.faq {
    font-size: 15px;
    padding: 10px;
    text-align: left;
}

.container-form {
    margin: 40px auto;
    border-radius: 5px;
}

.informations {
    text-align : right;
    margin-right: 5px;
    color: ivory;
}

#hotel {
    color: ivory;
}

#com {
    color: ivory;
}

#rp {
    color: ivory;
}

#tel {
    color: ivory;
}